@font-face {
  font-family: 'GoudyBookletter1911';
  src: url('.fonts/GoudyBookletter1911.eot?#iefix') format('embedded-opentype'),  url('.fonts/GoudyBookletter1911.otf')  format('opentype'),
       url('.fonts/GoudyBookletter1911.woff') format('woff'), url('.fonts/GoudyBookletter1911.ttf')  format('truetype'), url('.fonts/GoudyBookletter1911.svg#GoudyBookletter1911') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
	background-size: 100% auto;
}
body {
  color: #333;
  font-family: Arial, Helvetica, 'Sans-Serif';
}
a {
  text-decoration: none;
}
h1 {
	margin: 0 auto;
	width: 600px;
  font-size: 50px;
}
.left {
}
.right {
  border-left: 1px solid #aaa;
  height: 100vh;
  overflow-y: scroll;
}
.content {
	width: 100%;
}
article {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
  border-bottom: 1px solid #aaa;
}
article h2 {
  font-size: 40px;
}
article p {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Merriweather",Georgia,Cambria,"Times New Roman",Times,serif;
  font-weight: 400;
}

article img {
  margin: 0 auto;
  max-width:100%;
}
article .post-date {
  font-family: "Merriweather",Georgia,Cambria,"Times New Roman",Times,serif;
  color: #CC0066;
  font-size: 16px;
}
article .read-more {
  color: #6699FF;
  float: right;
  font-size: 20px;
  display: inline-block;
  padding-top:5px;
}
article .social-media-icon {
  width: 40px;
  margin-right: 5px;
}
article .social-media-icon:hover {
  width: 40px;
  margin-right: 5px;
  transition: all .5s ease;
  filter: grayscale(100%);
}
.post-form input,
.post-form textarea {
  width: 100%;
}
.post-form div {
  padding-right: 2%;
}
.post-form textarea {
  height: 70vh;
}